<% layout('../layouts/boilerplate.ejs') %>
<div class="container mt-3">
  <div class="row d-flex flex-column">
    <div class="col-sm-6 offset-3 card">
      <img
        src="<%= campground.image %>"
        alt="<%= campground.title %>"
        class="img-fluid"
      />
      <h3><%= campground.title %> Campground</h3>
      <p class="card-text">Description: <%= campground.description %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: $<%= campground.price %>/night</li>
        <li class="list-group-item">Location: <%= campground.location %></li>
      </ul>
      <div class="row">
        <div class="col-sm-6">
          <a
            href="/campgrounds/<%= campground._id %>/edit"
            id="showEditButton"
            class="btn btn-success edit-button card-link form-control"
            data-id="<%= campground._id %>"
          >
            Edit
          </a>
        </div>
        <div class="col-sm-6">
          <a
            href="#"
            id="showDeleteButton"
            class="btn btn-danger delete-button card-link form-control"
            data-id="<%= campground._id %>"
          >
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
